body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6em;
    font-size:18px;
    font-family: Verdana, sans-serif;
    color:#444;
    padding:0 10px;
}

h1,h2,h3
{
    line-height:1.2
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
}

.recipe-link {
    color: rgba(240, 0, 10, 0.6);
}
