* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::before,
::after {
    margin: 0px;
    padding: 0px;
}

/*
   === TYPOGRAPHY ===
   Type Scale: 1.250 Major scale p: 1rem

   === COLOURS ===
   Main: #F39C12
   Grey: #063362
   Background (like a plate): #ECF0F1
 */

body{
    margin:40px auto;
    max-width:650px;
    /* line-height:1.6em; */
    font-size:16px;
    font-family: Verdana, sans-serif;
    color: #063362;
    background: #ECF0F1;
}

h2,h3
{
    line-height:1.2;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

header {
    margin: 40px auto;
    text-align: center;
    font-family: serif;
    font-size: 3.052rem;
    line-height: 0.8;
    letter-spacing: -2px;
}

nav {
    margin: 60px 0px 60px 40px;
}

ul {
    list-style: none;
}

.recipe-intro h3,
.recipe-intro p {
    margin-bottom: 20px;
}

.recipe-intro h3 {
    font-size: 1.25rem;
    letter-spacing: -0.5px;
    /* text-align: center; */
    padding-left: 20px;
}

.recipe-intro p {
    line-height: 1.5;
    padding: 0px 20px;
}

.recipe-intro li {
    display: inline-block;
    width: 200px;
    height: 80px;
    vertical-align: top;
}

.recipe-link:link,
.recipe-link:visited {
    background-color: #f39c12;
    color: #063362;
    vertical-align: bottom;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 32px;
    display: inline-block;
    font-weight: 600;
    
    /*
       font-size: 0.8em;
     */
}

.recipe-link:hover,
.recipe-link:active {
    background-color: #ff922b;
}

footer {
    margin: 140px 0px 40px 0px;
}

#copy-text {
    font-size: 0.8rem;
    text-align: center;
}
